# Application.
NODE_ENV="" # development | production, default: production
APP_URL="" # String, Example: http://localhost:3000, Default: http://localhost:3000
APP_PORT="" # Number, Example: 3000, Default: 3000
ENABLE_SWAGGER="" # 0: false | 1: true, default 1
